@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@font-face {
  font-family: 'Corbel';
  src: url("../font/Corbel.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-fluid {
  margin: 0;
  padding: 0; }

.row {
  margin: 0; }

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  z-index: -8; }

body:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  background-image: url("../img/bgheader.jpg");
  background-size: cover;
  z-index: -9; }

body:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

#k-abtme,
#k-contact,
#k-header,
#k-showcase,
#k-skills,
#k-works {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  width: 100%; }

nav {
  background-color: #424242;
  border: none;
  color: white;
  border-radius: 0; }

.navbar {
  border-radius: 0; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  background-color: #424242;
  border-radius: 0; }

.navbar .navbar-collapse {
  text-align: center;
  background-color: #424242; }

.navbar-header {
  background-color: #424242; }

.navbar-default .navbar-toggle {
  border-color: #424242; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0; }

.navbar-brand i {
  color: whitesmoke; }

#k-navbar {
  border-radius: 0; }

#k-navbar ul li a {
  font-family: "Corbel";
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.5em;
  color: white; }

#k-navbar ul li:active,
#k-navbar ul li:hover,
.navbar-brand:hover {
  background-color: #ED5758; }

.k-site-title img {
  margin-top: 10%;
  width: 70%; }

.scroll-down {
  position: absolute;
  left: 50%;
  top: 75vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 35px;
  height: 35px;
  border-bottom: 4px solid #ED5758;
  border-right: 4px solid #ED5758;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite; }

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }
.k-navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  border: none;
  -webkit-box-shadow: 0 6px 3px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 6px 3px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0 6px 3px -1px rgba(0, 0, 0, 0.45); }

.sticky {
  background-color: #e3e3e3;
  opacity: 1;
  top: 0; }

#k-abtme {
  margin-top: 1%;
  background-color: #e3e3e3;
  position: relative; }
  #k-abtme .k-titlesection {
    position: absolute;
    top: 4%;
    left: -1%;
    padding: 0.5% 3%;
    font-family: "Corbel";
    font-variant: small-caps;
    font-weight: bolder;
    color: #fff;
    background-color: #ED5758;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    z-index: 2; }
  #k-abtme .k-name {
    margin-top: 10%; }
  #k-abtme article {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: white; }
    #k-abtme article figure img {
      width: auto;
      max-height: 100vh;
      height: 100vh; }
    #k-abtme article h2 {
      font-size: 5em; }
    #k-abtme article h3 {
      font-size: 3em; }
  #k-abtme .k-counter {
    position: absolute;
    top: 10em;
    font-size: 2em; }

#k-works {
  margin-top: 4%;
  background-color: #fff; }
  #k-works .k-titlesection {
    position: absolute;
    top: 4%;
    left: -1%;
    padding: 0.5% 3%;
    font-family: "Corbel";
    font-variant: small-caps;
    font-weight: bolder;
    color: #fff;
    background-color: #ED5758;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    z-index: 2; }
  #k-works .k-mywork {
    margin-top: 7%; }
    #k-works .k-mywork figure {
      float: left; }
      #k-works .k-mywork figure figcaption {
        width: 19%;
        height: 30vh;
        margin: 3%; }
        #k-works .k-mywork figure figcaption img {
          width: 100%;
          height: 100%; }
  #k-works .k-frame {
    height: 100%;
    margin: 0 3%; }
    #k-works .k-frame .k-imgwork {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #k-works .k-frame .k-imgwork:hover .k-details {
        top: 0;
        left: 0;
        transform: rotate(0deg); }
        #k-works .k-frame .k-imgwork:hover .k-details h3 {
          left: 0;
          transition-delay: 200ms; }
        #k-works .k-frame .k-imgwork:hover .k-details a {
          right: 0;
          transition-delay: 400ms; }
        #k-works .k-frame .k-imgwork:hover .k-details p {
          opacity: 1;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
          transition-delay: 500ms; }
      #k-works .k-frame .k-imgwork .k-details {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(237, 87, 88, 0.8);
        position: absolute;
        left: -100%;
        top: -100%;
        transition: all 200ms linear;
        transform: rotate(90deg); }
        #k-works .k-frame .k-imgwork .k-details h3 {
          padding: 0.2em 0.3em;
          background: rgba(237, 87, 88, 0.8);
          position: absolute;
          top: 1%;
          left: -100%;
          transition: left 200ms linear;
          color: white;
          font-size: 1em;
          font-weight: "Corbel"; }
        #k-works .k-frame .k-imgwork .k-details p {
          text-align: left;
          width: 80%;
          position: absolute;
          top: 30%;
          left: 10%;
          opacity: 0;
          color: white; }
        #k-works .k-frame .k-imgwork .k-details a {
          position: absolute;
          right: 1000%;
          top: 80%;
          padding: 0.2em 0.3em;
          background: rgba(237, 87, 88, 0.8);
          color: white;
          text-decoration: none; }

#k-showcase {
  margin-top: 4%;
  background-color: #e3e3e3; }
  #k-showcase .k-titlesection {
    position: absolute;
    top: 4%;
    left: -1%;
    padding: 0.5% 3%;
    font-family: "Corbel";
    font-variant: small-caps;
    font-weight: bolder;
    color: #fff;
    background-color: #ED5758;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    z-index: 2; }
  #k-showcase #k-rousel {
    position: relative;
    height: 80vh; }
    #k-showcase #k-rousel img {
      margin: 10% auto;
      width: auto;
      height: 50vh; }
    #k-showcase #k-rousel .carousel-control.left,
    #k-showcase #k-rousel .carousel-control.right {
      background-image: none; }
    #k-showcase #k-rousel .carousel-indicators .active {
      background-color: #ED5758; }

#k-skills {
  background: #eee;
  padding-bottom: 3%; }
  #k-skills .k-titlesection {
    position: absolute;
    top: 4%;
    left: -1%;
    padding: 0.5% 3%;
    font-family: "Corbel";
    font-variant: small-caps;
    font-weight: bolder;
    color: #fff;
    background-color: #ED5758;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    z-index: 2; }
  #k-skills .k-whatido {
    display: flex;
    justify-content: space-between;
    margin-top: 10%; }
    #k-skills .k-whatido img {
      cursor: pointer;
      width: 100%; }
    #k-skills .k-whatido img:active {
      padding: 0;
      transform: translateY(20px);
      -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
      border-radius: 100%; }
    #k-skills .k-whatido .k-ribbon {
      font-family: "Corbel";
      font-variant: small-caps;
      font-size: 2em;
      font-weight: bolder;
      color: #000;
      margin-top: 10%;
      cursor: pointer; }
  #k-skills .modal-content {
    border-radius: 0; }
    #k-skills .modal-content .modal-header {
      font-family: "Corbel";
      color: #000;
      font-variant: small-caps;
      border: none; }
    #k-skills .modal-content .modal-body {
      font-family: "Corbel"; }
    #k-skills .modal-content .modal-footer {
      border: none; }
      #k-skills .modal-content .modal-footer .btn-default {
        font-family: "Corbel";
        color: #fff;
        font-variant: small-caps;
        background-color: #ED5758;
        border-color: #fff; }
      #k-skills .modal-content .modal-footer .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0; }
      #k-skills .modal-content .modal-footer .btn.active.focus,
      #k-skills .modal-content .modal-footer .btn.active:focus,
      #k-skills .modal-content .modal-footer .btn.focus,
      #k-skills .modal-content .modal-footer .btn:active.focus,
      #k-skills .modal-content .modal-footer .btn:active:focus,
      #k-skills .modal-content .modal-footer .btn:focus {
        outline: 0; }

#k-contact {
  background-image: url("../img/backgroundphone.jpeg");
  background-size: cover; }
  #k-contact .k-titlesection {
    position: absolute;
    top: 4%;
    left: -1%;
    padding: 0.5% 3%;
    font-family: "Corbel";
    font-variant: small-caps;
    font-weight: bolder;
    color: #fff;
    background-color: #ED5758;
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
    z-index: 2;
    margin-top: 3%; }
  #k-contact #k-sayhello {
    margin-top: 10%;
    border-right: 2px dotted white; }
    #k-contact #k-sayhello h3 {
      font-family: "Pacifico";
      color: white; }
    #k-contact #k-sayhello p {
      font-family: "Corbel";
      color: white; }
    #k-contact #k-sayhello a img {
      height: 10vh; }
  #k-contact #k-phone {
    margin-top: 10%; }
    #k-contact #k-phone .k-phonedetails {
      margin-left: 3%; }
      #k-contact #k-phone .k-phonedetails h3 {
        font-family: "Pacifico";
        color: white; }
      #k-contact #k-phone .k-phonedetails p {
        font-family: "Corbel";
        color: white; }
      #k-contact #k-phone .k-phonedetails a img {
        height: 10vh; }

footer {
  background: #424242;
  text-align: right; }
  footer h2 {
    font-family: "Pacifico";
    font-size: 1em;
    margin-right: 3%;
    color: #fffeff; }

@media (orientation: landscape) {
  #k-abtme {
    margin-top: 1%;
    background-color: #e3e3e3;
    position: relative; }
    #k-abtme .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2; }
    #k-abtme .content {
      margin-top: 4%; }
      #k-abtme .content .k-name {
        margin-top: 10%; }
      #k-abtme .content article {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        color: white; }
        #k-abtme .content article figure img {
          margin-top: 17%;
          width: 100%;
          max-width: none;
          max-height: none;
          height: auto; }
        #k-abtme .content article h2 {
          font-size: 4em; }
        #k-abtme .content article h3 {
          font-size: 3em; }
      #k-abtme .content .k-counter {
        position: absolute;
        top: 15em;
        font-size: 1.5em; }

  #k-works .k-mywork {
    margin-top: 10%; }
    #k-works .k-mywork figure {
      float: left; }
      #k-works .k-mywork figure figcaption {
        width: 19%;
        height: 20vh;
        margin: 3%; }
        #k-works .k-mywork figure figcaption img {
          width: 100%;
          height: 100%; }
        #k-works .k-mywork figure figcaption p {
          font-size: 10px; } }
@media (min-width: 767px) and (max-width: 992px) {
  .scroll-down {
    position: absolute;
    left: 46%;
    top: 75vh;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 4px solid #ED5758;
    border-right: 4px solid #ED5758;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite; }

  #k-abtme {
    margin-top: 1%;
    background-color: #e3e3e3;
    position: relative; }
    #k-abtme .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2; }
    #k-abtme .k-name {
      margin-top: 30%; }
    #k-abtme .col-xs-12 {
      padding: 0; }
    #k-abtme article {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      padding: 0;
      color: white; }
      #k-abtme article figure img {
        margin-top: 7%;
        width: 100%;
        max-height: none;
        height: auto; }
      #k-abtme article h2 {
        font-size: 3em; }
      #k-abtme article h3 {
        font-size: 1.5em; }

  #k-works {
    height: auto;
    max-height: none;
    margin-top: 4%;
    background-color: #fff; }
    #k-works .col-xs-12 {
      padding: 0; }
    #k-works .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      top: 1.7%; }
    #k-works .k-mywork {
      margin-top: 25%; }
      #k-works .k-mywork figure {
        float: left; }
        #k-works .k-mywork figure figcaption {
          width: 100%;
          margin: 0.5% 0%;
          height: 40vh;
          padding: 0; }
          #k-works .k-mywork figure figcaption img {
            width: 100%;
            height: 100%; }
    #k-works .k-frame {
      width: 100%;
      height: 100%;
      margin: 0%;
      padding: 0%; }

  #k-showcase {
    margin-top: 4%;
    background-color: #e3e3e3; }
    #k-showcase .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2; }
    #k-showcase #k-rousel {
      position: relative;
      height: 80vh; }
      #k-showcase #k-rousel img {
        margin: 33% auto;
        width: auto;
        height: 50vh; }

  #k-skills {
    background: #eee;
    height: auto;
    max-height: none; }
    #k-skills .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      top: 0; }
    #k-skills .k-whatido {
      display: block;
      justify-content: none;
      margin-top: 20%; }
      #k-skills .k-whatido img {
        cursor: pointer;
        width: 100%; }
      #k-skills .k-whatido img:active {
        padding: 0;
        transform: translateY(20px);
        -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        border-radius: 100%; }
      #k-skills .k-whatido .k-ribbon {
        font-family: "Corbel";
        font-variant: small-caps;
        font-size: 2em;
        font-weight: bolder;
        color: #000;
        margin-top: 10%;
        cursor: pointer; }

  #k-contact {
    background-image: url("../img/backgroundphone.jpeg");
    background-size: cover; }
    #k-contact .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      margin-top: 3%; }
    #k-contact #k-sayhello {
      text-align: center;
      margin-top: 17%;
      border-right: none;
      padding-bottom: 5%;
      border-bottom: 2px dotted white; }
      #k-contact #k-sayhello h3 {
        font-family: "Pacifico";
        color: white; }
      #k-contact #k-sayhello p {
        font-family: "Corbel";
        color: white; }
      #k-contact #k-sayhello a img {
        height: 10vh; }
    #k-contact #k-phone {
      text-align: center; }

  footer {
    background: #424242;
    text-align: center; }
    footer h2 {
      font-family: "Pacifico";
      font-size: 1em;
      margin-right: 0%;
      color: #fffeff; } }
@media screen and (max-width: 767px) {
  .scroll-down {
    position: absolute;
    left: 46%;
    top: 75vh;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 4px solid #ED5758;
    border-right: 4px solid #ED5758;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite; }

  #k-abtme {
    margin-top: 1%;
    background-color: #e3e3e3;
    position: relative; }
    #k-abtme .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2; }
    #k-abtme .k-name {
      margin-top: 30%; }
    #k-abtme .col-xs-12 {
      padding: 0; }
    #k-abtme article {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      padding: 0;
      color: white; }
      #k-abtme article figure img {
        margin-top: 7%;
        width: 100%;
        max-height: none;
        height: auto; }
      #k-abtme article h2 {
        font-size: 3em; }
      #k-abtme article h3 {
        font-size: 1.5em; }

  #k-works {
    height: auto;
    max-height: none;
    margin-top: 4%;
    background-color: #fff; }
    #k-works .col-xs-12 {
      padding: 0; }
    #k-works .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      top: 1.7%; }
    #k-works .k-mywork {
      margin-top: 25%; }
      #k-works .k-mywork figure {
        float: left; }
        #k-works .k-mywork figure figcaption {
          width: 100%;
          margin: 0.5% 0%;
          height: 40vh;
          padding: 0; }
          #k-works .k-mywork figure figcaption img {
            width: 100%;
            height: 100%; }
    #k-works .k-frame {
      width: 100%;
      height: 100%;
      margin: 0%;
      padding: 0%; }

  #k-showcase {
    margin-top: 4%;
    background-color: #e3e3e3; }
    #k-showcase .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2; }
    #k-showcase #k-rousel {
      position: relative;
      height: 80vh; }
      #k-showcase #k-rousel img {
        margin: 33% auto;
        width: auto;
        height: 50vh; }

  #k-skills {
    background: #eee;
    height: auto;
    max-height: none; }
    #k-skills .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      top: 0; }
    #k-skills .k-whatido {
      display: block;
      justify-content: none;
      margin-top: 20%; }
      #k-skills .k-whatido img {
        cursor: pointer;
        width: 100%; }
      #k-skills .k-whatido img:active {
        padding: 0;
        transform: translateY(20px);
        -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
        border-radius: 100%; }
      #k-skills .k-whatido .k-ribbon {
        font-family: "Corbel";
        font-variant: small-caps;
        font-size: 2em;
        font-weight: bolder;
        color: #000;
        margin-top: 10%;
        cursor: pointer; }

  #k-contact {
    background-image: url("../img/backgroundphone.jpeg");
    background-size: cover;
    text-align: center; }
    #k-contact .k-titlesection {
      position: absolute;
      top: 4%;
      left: -1%;
      padding: 0.5% 3%;
      font-family: "Corbel";
      font-variant: small-caps;
      font-weight: bolder;
      color: #fff;
      background-color: #ED5758;
      -webkit-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, 0.75);
      z-index: 2;
      margin-top: 3%; }
    #k-contact #k-sayhello {
      text-align: center;
      margin-top: 24%;
      border-right: none;
      padding-bottom: 5%;
      border-bottom: 2px dotted white; }
      #k-contact #k-sayhello h3 {
        font-family: "Pacifico";
        color: white; }
      #k-contact #k-sayhello p {
        font-family: "Corbel";
        color: white; }
      #k-contact #k-sayhello a img {
        height: 10vh; }
    #k-contact #k-phone {
      text-align: center; }

  footer {
    background: #424242;
    text-align: center; }
    footer h2 {
      font-family: "Pacifico";
      font-size: 1em;
      margin-right: 0%;
      color: #fffeff; } }

/*# sourceMappingURL=global.css.map */
