@font-face {
  font-family: "HarlowSolid";
  src: url('../font/HarlowSolid.ttf');
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}
/* HEADER DEBUT ------------------------ */
header{
  text-align: center;
}

h1{
  font-size: 7em;
  font-family: 'HarlowSolid';
  color:rgba(130, 130, 130, 1);
}
@media only screen and (max-width: 900px) {
    h1 {
        font-size: 4em;
        font-family: 'HarlowSolid';
        color:rgba(130, 130, 130, 1);
    }
}
header div i {
  margin-top: 5%;
}
.collapse{
  font-variant: small-caps;
  text-align: center;
}
.navbar{
  background: #e3e3e3;
  width: 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  color:#000;
}

.navbar .navbar-collapse {
  color:#000;
  text-align: center;
}
.navbar .navbar-collapse ul li:hover{
  background-color: #F0494A;
  color:#000;

}
/* About me section */
#k-abtme h2{
font-size:4em;
font-family: 'HarlowSolid';
color:rgba(130, 130, 130, 1);
}
